In [7]:
#Importing libraries
import numpy as np
import pandas as pd

In [8]:
#cria array com os elementos da questão.
elementos = {'columns':["id", "user_id", "item", "created_at", "revenue"], 
             'type':["int", "int", "varchar", "datetime", "float"]}

In [9]:
#passa para um dataframe para ver em tabela
df = pd.DataFrame(data=elementos)
df

      columns      type
0          id       int
1     user_id       int
2        item   varchar
3  created_at  datetime
4     revenue     float

-> Query para encontrar a terceira compra de cada usuário.

TABELA TRANSAÇÕES

TENHO QUE SELECIONAR NA TABELA TRANSAÇÕES TODAS AS TERCEIRAS COMPRAS DE CADA USUÁRIO

SELECT id,user_id,item,count(created_at),revenue FROM TRANSACTIONS group by user_id having count(created_at)=3